<div class = "container">
  <div class="row">
    <div class="col-2">
      <input type="number" [(ngModel)]="idNumber">
    </div>
    <div class="col-2">
      <button mat-button mat-raised-button color="accent"
              (click) ="wywolajZapytanieOsoba()">
        Get Person Info
      </button>
    </div>
    <div class="col-2">
      <button mat-button mat-raised-button color="accent"
              (click) ="wywolajZapytaniePlanet()">
        Get Planet Info
      </button>
    </div>
    <div class="col-2">
      <button mat-button mat-raised-button color="accent"
              (click) ="wywolajZapytanieFilm()">
        Get Film Info
      </button>
    </div>
    <div class="col-2">
      <button mat-button mat-raised-button color="accent"
              (click) ="wywolajZapytanieStarship()">
        Get Starship Info
      </button>
    </div>
    <div class="col-2">
      <button mat-button mat-raised-button color="accent"
              (click) ="wywolajZapytanieSpecies()">
        Get Species Info
      </button>
    </div>
  </div>
  <hr>
  <textarea class="form-control"
            [(ngModel)]="this.odpowiedzServer">
  </textarea>
</div>
